<div class="table-container" *ngIf="productsData.length">
    <table mat-table [dataSource]="productsData" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
         <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
    
    
        <ng-container matColumnDef="Phone number">
            <th mat-header-cell *matHeaderCellDef> Phone number </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} 
                <button mat-button color="warn" (click)="deleteHandler(element)">DELETE</button>
            </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<div *ngIf="!productsData.length" class="empty-products">
  <h2>No products!</h2>
</div>
