<div class="form-container">
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="example-form">
    <h1>Add product</h1>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" required formControlName="name" placeholder="Enter name..."/>
        <!-- if the input is empty -->
        <mat-error *ngIf="productForm.get('name').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" required formControlName="price" placeholder="Enter price..."/>
        <mat-error *ngIf="productForm.get('price').hasError('required')">
            Price is <strong>required</strong>
          </mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput type="text" required formControlName="address" placeholder="Enter address..."/>
        <mat-error *ngIf="productForm.get('address').hasError('required')">
            Address is <strong>required</strong>
          </mat-error>
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" required formControlName="email" placeholder="Enter email..."/>

        <!-- if the input isn't empty and doesn't contain @ symbol-->
        <mat-error *ngIf="productForm.get('email').hasError('email') && !productForm.get('email').hasError('required')">
            Please enter a valid email address!
          </mat-error>

        <mat-error *ngIf="productForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Phone number</mat-label>
        <input matInput type="text" required formControlName="number" placeholder="Enter phone number..."/>
        <mat-error *ngIf="productForm.get('number').hasError('required')">
            Phone number is <strong>required</strong>
          </mat-error>
    </mat-form-field>


    <button type="submit" mat-raised-button color="primary" class="submit-btn">add</button>
</form>
</div>




<app-table 
[productsData]="products" 
(newEvent)="removeProduct($event)"
></app-table>